.htg-btn-buy-now{
    background-image: linear-gradient(to bottom, #3c3a3b 0%, #000000 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.htg-bg-color{
    background-color: white
}
#mycarousel-indicators button{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(to bottom, #FF9C35 0%, #FFD019 100%);
}
#mynav{
  font-weight: 600;
  letter-spacing: 0.5px;
}
#mynav a:hover {
    color: #FFD019;
    border-radius: 50px;
}
.card{
    border: none;
    box-shadow: 3px 3px 20px lightgray;
    border-radius: 10px;
} 
.card-footer{
    border: none;
    background-color: white;
}
.see-all-option{
    text-decoration: none;
    color: #FF9D00;
    font-size: 15px;
    font-weight: 600;
}